#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf out

override_dh_install:
	dh_install -XLICENSE -XAUTHORS -X.md
	install -m755 debian/tmp/usr/bin/notepadqq \
	$(CURDIR)/debian/notepadqq/usr/lib/notepadqq/notepadqq.sh

override_dh_installdocs:
	dh_installdocs --link-doc=notepadqq-common

