#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf out

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

override_dh_install:
	dh_install -XLICENSE -XAUTHORS -X.md

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
